{% extends "layout.html" %}
{% set title = 'Welcome' %}
{% block body %}

<style type="text/css">
</style>

    <div class="section" id="welcome-to-egglib-s-home-page">

    <h1>Welcome to EggLib&#8217;s home page!</h1>

    <p>EggLib is a C++/Python library and program package for
    evolutionary genetics and genomics. Main features are sequence data
    management, sequence polymorphism analysis, and coalescent
    simulations. EggLib is a flexible Python module with a performant
    underlying C++ library and allows fast and intuitive development of
    Python programs and scripts.</p>

    <p>
    <strong>Citation:</strong> Siol M., T. Coudoux, S. Ravel, and S. De
    Mita. 2022. EggLib 3: A python package for population genetics and
    genomics. <em>Mol. Ecol. Res.</em> <strong>22</strong>(8):3176-3187.
    <a class="reference external" href="https://doi.org/10.1111/1755-0998.13672">https://doi.org/10.1111/1755-0998.13672</a>.
    </p>

    <p><strong>Current version:</strong> {{release}}</p>

    <h2>Main categories</h2>

    <table class="contentstable" align="center" style="margin-left: 30px">
    <tr valign="top"><td width="50%">
        <p class="biglink">
            <a class="biglink" href="{{ pathto('install') }}">
                Installation</a><br>
            <span class="linkdescr">
                Download and install EggLib
            </span></p>

        <p class="biglink">
            <a class="biglink" href="{{ pathto('py/index') }}">
                Reference</a><br>
            <span class="linkdescr">
                Detailed documentation of all items
            </span></p>

    </td><td width="50%">

        <p class="biglink">
            <a class="biglink" href="{{ pathto('manual/index') }}">
                Tutorial</a><br>
            <span class="linkdescr">
                Starting with EggLib with examples
            </span></p>

        <p class="biglink">
            <a class="biglink" href="{{ pathto('stats/index') }}">
                Statistics</a><br>
            <span class="linkdescr">
                List of available diversity statistics
            </span></p>

    </td></tr></table>

    <h2>News</h2>

    <div><ul class="simple">
      <li>2 April 2023: version 3.2.0 completed.</li>
      <li>24 February 2023: bug fixed in code deleting a sample from Container instances.</li>
      <li>11 March 2022: release of version 3.1.0.</li>
      <li>08 July 2021: version 3.0.0 released and available on the <a href="https://pypi.org/project/EggLib/">Python Package Index</a>.</li>
    </ul></div>

    <h2>See also</h2>

     <table class="linktable">
      <tr>
        <td><a class="smalllink" href="https://gitlab.com/demita/egglib/">Git Repository</a></td>
        <td><a class="smalllink" href="{{ pathto('history') }}">History</td>
        <td><a class="smalllink" href="{{ pathto('toc') }}">Full Table of Contents</td>
      </tr>
      <tr>
        <td><a class="smalllink" href="{{ pathto('licence') }}">Licence</td>
        <td><a class="smalllink" href="{{ pathto('authors') }}">Authors</td>
        <td><a class="smalllink" href="v2/index.html">EggLib v2 Documentation</a></td>
      </tr>
    </table> 


{% endblock %}
